
.vs/TestTasks/DesignTimeBuild/.dtbcache
.vs/TestTasks/v16/.suo
.vs/TestTasks/v16/Server/sqlite3/storage.ide
.vs/TestTasks/v16/Server/sqlite3/storage.ide-shm
.vs/TestTasks/v16/Server/sqlite3/storage.ide-wal
TestTasks/obj/Debug/netcoreapp2.1/TestTasks.csprojAssemblyReference.cache
